<h1>관리자페이지</h1>
<% @users.each do |u| %>
  <div class="card">
    <div class="card-body">
      <form action="/change_session">
        <p>번호 : <%=u.id%>
        <p>이메일 : <%=u.email%></p>
        <p>비밀번호 : <%=u.password%></p>
        <p>권한 :
        <%if u.is_admin%>
         관리자
        <%else%>
         일반사용자
        <%end%>
        <button type="submit" class="btn btn-primary">권한변경</button>
        </p>
        <p> <%=u.created_at %> </p>

        <input type="hidden" value="<%=u.id%>" name="id">
        <!-- <input type="hidden" value="<%=u.email%>" name="email">
        <input type="hidden" value="<%=u.password%>" name="password">
        <input type="hidden" value="<%=u.is_admin%>" name="admin"> -->
      </form>
    </div>
  </div>
<% end %>
